body {
    margin: 60px auto;
    width: 70%;
    background-color: rgb(234, 235, 236);
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: rgb(239, 217, 243);
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
a:hover {
    text-decoration: underline;
    color:rgb(171, 68, 255)
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    
}
h2 {
    background-color: rgb(239, 217, 243);
}
p {
    font-size: 1.5em;
    font-size: 16px;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #fad2d2;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
hr.dashed {
  border-top: 3px dashed #ecafec;
}

